body{
    margin: 10px auto;
    min-width: 250px;
    max-width : 50%;
    background-color: hex #0F0A0A;
}
* {
     box-sizing:border-box;
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    cursor : pointer;
    position : relative;
    padding : 12px 8px 12px 40px;
    list-style-type: none;
    background: #F5EFED;
    font-size : 18px;
    transition : 0.2 s;

    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select : none;
}

ul li:nth-child(odd)
{
    background : #D66853;
}

ul li:hover {
    background : #2292A4;
}

ul li.checked {
    background : #F26419;
    color: white; 
    text-decoration:line-through;
}

ul li.checked::before {
    content : ' ';
    position : absolute;
    border-color: #D66853;
    border-style: solid;
    border-width : 0 2px 2px 0;
    top : 10px;
    left: 16px;
    transform : rotate (45deg);
    height : 15px;
    width : 7px;
}

.close {
    position : absolute;
    right : 0;
    top : 0;
    padding : 12px 16px 12px 16px; 
}

.close:hover{
    background-color : #D66853;
    color: white;
}

.header {
    background-color:#D66853;
    padding : 30px 40px;
    color : white;
    text-align :center;
}

.header:after {
    content : "";
    display : table;
    clear : both;
}

input {
    margin : 0;
    border : none;
    border-radius : 0;
    width : 75%;
    padding : 10px;
    float : left;
    font-size : 16px;
}

.addBtn{
    padding : 10px;
    width : 25%;
    background:#D66853;
    color :#DDD1C7;
    float : left;
    text-align: center;
    font-size : 16px;
    cursor : pointer;
    transition : 0.3s;
    border-radius : 0;
}

.addBtn:hover{
    background-color :#F7F3F3;
}

#clear-list{
    width : 30%;
    font-weight:bold;
    font-style :italic;
    font-size : xx-large;
    font-family:"Times New Roman";
    background-color : darkblue;
    color : white;
}

#clear-list:hover{
    background-color : blue;
    color : white; 
}

